.header .cabezera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:#C9A84C 1px solid ;
    padding: 8px;
    padding: 8px 10%;
    
}
.header .icono{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header .texto-icono{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    
}
.header .texto-icono h3{
    color: white;
    padding-top: 7px;
    line-height:11px;
    letter-spacing: 3px;

}
.header .texto-icono p{
    color: #C9A84C;
    font-size: 10px;
    text-transform: uppercase;

}
.header .nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.header .nav .nav-text{
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(168, 168, 168);
}
.header .busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .busqueda form {
    padding-left: 5px;
    background-color: black;
    height: 30px;
    border: rgb(32, 32, 32) 0.5px  solid;

}
.header .busqueda form input{
    background-color: transparent;
    border: none;
}
.header .busqueda .icono-buscar {
    height: 30px;
    padding: 5px;
    background-color: black;
    border: rgb(32, 32, 32) 0.5px  solid;
}
